.social-icons a {
    margin: 5px 5px;
    color: #00E400;
    font-size: 50px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #7E9F9A;
    /* Maddot's teal shade */
}